:root {
}



.unity-base-text-field__input {
    background-image: url("project://database/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Slots_Arrows.png?fileID=4508516164457878799&guid=4d6d3e529a32a4141bbac8264745777d&type=3#Steampunk_UI_Slots_Arrows_9");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    font-size: 33px;
    -unity-font-style: italic;
    color: rgb(219, 193, 129);
}
