:root {
}

.Ornament {
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 48% 100%;
    top: auto;
    left: auto;
    -unity-background-scale-mode: scale-to-fit;
    height: 265px;
    width: 385px;
}

.unity-base-text-field__input--placehodler {
    color: rgb(212, 207, 144);
    -unity-font-style: italic;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    font-size: 38px;
    -unity-font-definition: url("project://database/Assets/Gentleland/SteampunkUI/Fonts/Arvo/Arvo.ttf?fileID=12800000&guid=e5c356a4b721b024daa3ce4df25a2a24&type=3#Arvo");
    flex-wrap: nowrap;
    white-space: normal;
    -unity-text-align: upper-left;
    transform-origin: center;
    background-color: rgba(0, 0, 0, 0);
    -unity-slice-type: sliced;
    background-repeat: no-repeat no-repeat;
}

.unity-base-text-field__input {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    background-image: url("project://database/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Slots_Arrows.png?fileID=-4972393294115483615&guid=4d6d3e529a32a4141bbac8264745777d&type=3#Steampunk_UI_Slots_Arrows_8");
    color: rgb(228, 214, 161);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}


